body {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

  margin: auto;
  width: 50%;
}


h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

